html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(241, 227, 232);
}

main {
    margin-top: 80px;
}

/*---------- HEADER ---------*/

header {
    top: 0;
    width: 100%;
    height: 70px;
    background-color: palevioletred;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}

header .logotipo {
    margin-left: 10px;
}

header .logotipo img {
    width: 90px;
    height: auto;
}

header .nav {
    position: absolute;
    right: 10px;
}

header .nav .drop-Menu button {
    background-color: palevioletred;
    font-size: 1.4rem;
    border: none;
}

header .nav .drop-Menu .drop-Menu-Show ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: rgb(100, 30, 30);
    font-size: 1rem;
    line-height: 2rem;
}

.drop-Menu {
    position: relative;
    display: inline-block;
  }
  
.drop-Menu-Show {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0px;
}

.drop-Menu:hover .drop-Menu-Show {
    display: block;
}

footer {
    margin-top: 10px;
    background-color: palevioletred;
    height: 50px;
    width: 100%;
    align-items: center;
    position: absolute;
    bottom: 0;
}

footer p {
    position: relative;
    text-align: center;
    color: rgb(100, 30, 30);
    padding-top: 15px;
    font-size: 1rem;
}

@media (min-width: 375px){
    footer {
        position: relative;
    }
}

@media (min-width: 768px) {    
    header .logotipo {
        margin-left: 20%;
    }

    header .nav {
        right: 16%;
    }

    header .nav .drop-Menu button {
        display: none;
    }

    .drop-Menu-Show {
        display: block;
        position: relative;
        background-color: palevioletred;
        box-shadow: none;
    }

    header .nav .drop-Menu .drop-Menu-Show ul {
        flex-wrap: nowrap;
    }

    header .nav .drop-Menu .drop-Menu-Show ul li {
        padding-right: 20px;
    }

    a {
        font-size: 1rem;
    }

    a:hover {
        color: rgb(170, 39, 83);
    }
}










