* {
    box-sizing: border-box;
}

.title h1 {
    font-size: 1.2rem;
    color: rgb(163, 49, 49);
}

.title hr {
    margin: 0 0 10px 0;
    height: 5px;
    width: 20%;
}

.barraWhite {
    background-color: palevioletred;
}

.barraBlack {
    background-color: black;
    border: 1px solid black;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding: 0 10px 0 10px;
    height: 75vh;
}

.mySlides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    margin-top: 50px;
    margin-left: 8px;
    position: absolute;
    top: 0;
}

main div div img {
    vertical-align: middle;
}

.text {
    font-size: 1rem;
    padding: 8px;
    width: 100%;
    height: 37vh;
    color: rgb(163, 49, 49);
    text-align: justify;
    line-height: 1.5;
    overflow-y: auto;
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
    width: 6px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #bb7d7d;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black;
    opacity: 0.4;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot:hover {
    background-color: #717171;
}

@media (min-width: 400px){
    .slideshow-container {
        max-width: 350px;
    }

    .text {
        height: 140px;
    }
}

@media (min-width: 768px){
    .slideshow-container {
        max-width: 600px;
        height: 100%;
    }

    .title h1 {
        font-size: 1.4rem;
    }
    
    .title hr {
        height: 7px;
    }

    .text {
        height: 150px;
    }
}

@media (min-width: 1024px){
    .slideshow-container {
        max-width: 900px;
        margin-top: 130px;
    }
    
    .imagem {
        width: 60%;
        float: left;
    }

    .text {
        width: 40%;
        height: 300px;
    }

    .prev, .next {
        margin-top: 25px;
    }
}
