main {
    display: flex;
    flex-wrap: wrap;
}

.livro {
    width: 280px;
    margin: auto;
    font-size: 1rem;
    background-color:rgb(245, 169, 194);
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.livro h3 {
    font-weight: normal;
    color: rgb(163, 10, 61);
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.livro h4 {
    font-weight: normal;
    color: rgb(190, 41, 91);
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.imagem {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 70%;
    margin: auto;
}

.imagem img {
    width: 100%;
    height: auto;
}

.info p {
    font-size: 1.1rem;
    color: rgb(92, 8, 8);
    font-weight: bold;
}

.info a {
    font-size: 1.1rem;
    color: rgb(165, 41, 41);
}

@media (min-width: 768px){
    main {
        width: 700px;
        margin: auto;
        margin-top: 100px;
    }
}

@media (min-width: 1024px){
    main {
        width: 1000px;
    }
}